#ifndef FACTORY_GENERATED_H
#define FACTORY_GENERATED_H

// Include library
{% for lib in includes %}
#include <{{ lib }}>
{%- endfor %}
{%- for f in files %}
#include "{{ f }}"
{%- endfor %}
#include "request_handler.h"
#include "request_template.h"
#include "types.h"
{% for n in namespaces %}
using namespace {{ n }};
{%- endfor %}

class RequestFactory {
    public:
    static RequestBase* createRequestWithID( uint16_t id ){
        RequestBase* req;
        switch (id)
        {
{%- for req_name, req_id, params, req_opcode, returns in requests %}
        case {{req_id}}u:
            req = new Request{{req_name}}();
            break;
{% endfor %}
        default:
            req = nullptr;
            break;
        }

        return req;
    }
};

#endif